<div class="page-header-wrapper">
	<div class="page-header">
		<div class="row">
		{% if page.image != null %}
		  <div class="span3 hidden-phone hidden-tablet">
		  <img class="titleImage img-rounded" border="0" src="/assets/img/{{ page.image }}" alt="{{ page.title }} image">
		  </div>
		  <div class="span9" style="height:256px;">
		  <div style="display:table;height:256px;">
		  <div style="display:table-cell;vertical-align:middle;">
		{% else %}
		  <div class="span12">
		  <div>
		  <div>
		{% endif %}
        {% if page.prettygroup != null %}
        <h1><span style="color:#bbb">{{page.prettygroup}}:</span> {{ page.title }} {% if page.tagline %}</h1><h1 style="margin:0px"><small>{{ page.tagline }}</small></h1>{% endif %}
		{% else %}
  		<h1>{{ page.title }} {% if page.tagline %}</h1><h1 style="margin:0px"><small>{{ page.tagline }}</small></h1>{% endif %}
        {% endif %}
          </div>
          </div>
          </div>
        </div>
  	</div>
</div>

<div class="row">
  <div class="span10">
    {{ content }}
  </div>
  <div class="span2">
    {% if page.category %}
    <section>
      <h3>Pages</h3>
      <ul class="tag_box">
        {% assign pages_list = site.pages %}
        {% assign group = page.category %}
        {% include JB/pages_list %}
      </ul>
    </section>
    {% endif %}
    <section>
    {% unless site.tags == empty %}
      <section>
        <h3>Tags</h3>
        <ul class="tag_box">
          {% assign tags_list = site.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}         
  </div>
</div>
